body {
  margin: 0 auto;
  max-width: 600px;
  padding: 10px;
  font-family: Noto Sans, sans-serif;
}

h2 {
  margin-top: 40px;
}

li {
  padding: 5px 0;
}

p img,
table {
  width: 100%;
}

pre {
  margin-bottom: 40px;
  overflow-x: auto;
}

.button {
  -webkit-appearance: none;
  background-color: #ffc439;
  border-radius: 30px;
  border: none;
  color: #000000;
  font-weight: bold;
  padding: 15px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
