body {
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
}

body, input, button {
  font-family: "Noto Serif", serif;
  font-size: 22px;
}

hr,
h1,
h2 {
  margin-top: 60px;
}

hr {
  border: 0;
}

li {
  padding: 5px 0;
}

pre {
  font-size: 16px;
  overflow-x: auto;
}

pre,
blockquote {
  margin-bottom: 40px;
}

p img,
table {
  width: 100%;
}

.avatar {
  width: 60px;
  heigth: 60px;
  border-radius: 60px;
}
.email {
  -webkit-appearance: none;
  background-color: #ffffff;
  border: solid 1px #000000;
  color: #000000;
  padding: 15px;
}
.button {
  -webkit-appearance: none;
  background-color: #ffc439;
  border: solid 1px #ffc439;
  color: #000000;
  font-weight: bold;
  padding: 15px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
